<% content_for :title do %>Ajout services | REPERE3 <% end %>
<main role="main" class="containtAll">
  <div class="fr-container fr-mt-7w">
    <div class="fr-col-lg-10 fr-col-offset-lg-1">
      <h1>Ajouter un nouveau document</h1>
     	<div>
      	<%= form_tag import_services_path, multipart: true do %>
      	<div class="fr-upload-group">
		    <label class="fr-label" for="file-upload">Ajouter des fichiers
		        <span class="fr-hint-text">Taille maximale : 500 Mo. Formats supportés : xlsx. </span>
		    </label>
		    <%= file_field_tag  :file, accept: '.xlsx', class: "fr-upload", id: "file-upload" %>
				</div>
        <div class="fr-my-4w"><%= submit_tag "Transmettre", class:"fr-btn" %></div>
        <% end %>
    	</div>
      <div class="fr-table fr-mt-4w" id="table-services-component">
        <div class="fr-table__wrapper">
          <div class="fr-table__container">
            <div class="fr-table__content">
              <table id="table-services">
                <caption><%= @services.count %> services</caption>
                <thead>
                  <tr>
                    <th>Nom du service</th>
                    <th>Programme</th>
                  </tr>
                </thead>
                <tbody>
                  <% @services.each_with_index do |service, index| %>
                    <tr id="table-services-row-key-<%= index + 1 %>" data-row-key="<%= index + 1 %>">
                      <td class="fr-cell--multiline"><%= service.nom %></td>
                      <td><%= service.programme&.numero %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
		</div>
	</div>
</main>