<% content_for :title do %>Accueil | REPERE3
<% end %>
<div class="fr-container" data-controller="highcharts"
     data-highcharts-synth-programmes="<%= @data_par_programme.map { |d| "P#{d[:programme].numero}" }.to_json %>"
     data-highcharts-synth-etp-supp="<%= @data_par_programme.map { |d| d[:etp_supp] }.to_json %>"
     data-highcharts-mvt-programme="<%= @mvt_programme_etp.to_json %>"
     data-highcharts-grade-etp-supp="<%= @data_par_macrograde.map { |d| { name: d[:macrograde].to_s, y: d[:etp_supp] } }.to_json %>"
     data-highcharts-grade-etp-add="<%= @data_par_macrograde.map { |d| { name: d[:macrograde].to_s, y: d[:etp_add] } }.to_json %>"
     data-highcharts-synth-regions="<%= @data_par_region&.map { |d| d[:nom] }.to_json %>"
     data-highcharts-synth-etp-supp-region="<%= @data_par_region&.map { |d| d[:etp_supp] }.to_json %>"
     data-highcharts-synth-plafond-region="<%= @data_par_region&.map { |d| d[:plafond_3] }.to_json %>"
     data-highcharts-mvt-region="<%= @mvt_region_etp&.to_json %>"
     data-highcharts-date-effet-ajout="<%= @date_effet_ajout.to_json %>"
     data-highcharts-date-effet-supp="<%= @date_effet_supp.to_json %>"
     data-highcharts-creation-ajout="<%= @creation_ajout.to_json %>"
     data-highcharts-creation-supp="<%= @creation_supp.to_json %>">
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-lg-12">
      <h1 class="fr-my-6w"><%= current_user.nom %></h1>
      <div class="fr-mb-2w">
        <ul class="fr-tags-group">
          <% (2023..Date.today.year).to_a.each do |annee| %>
            <li>
              <button class="fr-tag" aria-pressed="<%= @annee_a_afficher == annee ? 'true' : 'false' %>">
                <%= link_to root_path(annee: annee) do %>
                  <%= annee %>
                <% end %>
              </button>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-lg-3">
      <div class="fr-callout ">
        <p class="fr-callout__title"><%= format_number(@etp_cible) %> ETP</p>
        <p class="fr-callout__text">notifiés</p>
      </div>
    </div>
    <div class="fr-col-12 fr-col-lg-3">
      <div class="fr-callout ">
        <p class="fr-callout__title"><%= format_number(@etp_redeployables) %> ETP</p>
        <p class="fr-callout__text">redéployables (3%)</p>
      </div>
    </div>
    <div class="fr-col-12 fr-col-lg-3">
      <div class="fr-callout ">
        <p class="fr-callout__title"><%= format_number(@etp_supp) %> ETP</p>
        <p class="fr-callout__text">supprimés</p>
      </div>
    </div>
    <div class="fr-col-12 fr-col-lg-3">
      <div class="fr-callout ">
        <p class="fr-callout__title"><% if @etp_cible != 0 %><%= format_number((@etp_supp / @etp_cible) * 100) %>
          <% else %>0
          <% end %>% ETP</p>
        <p class="fr-callout__text">supprimés</p>
      </div>
    </div>

  </div>
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-lg-12">
      <h2 class="fr-my-2w">Synthèse des redéploiements</h2>
    </div>
  </div>

  <div class="fr-tabs fr-mb-6w">
    <ul class="fr-tabs__list" role="tablist" aria-label="Synthese des redéploiements">

      <li role="presentation">
        <button id="tabpanel-404" class="fr-tabs__tab" tabindex="0" role="tab" aria-selected="true" aria-controls="tabpanel-404-panel">Synthèse
          par programme
        </button>
      </li>
      <% if current_user.statut == "admin" || current_user.statut == "ministere" %>
        <li role="presentation">
          <button id="tabpanel-405" class="fr-tabs__tab" tabindex="-1" role="tab" aria-selected="false" aria-controls="tabpanel-405-panel">Synthèse
            par région
          </button>
        </li>
      <% end %>

      <li role="presentation">
        <button id="tabpanel-406" class="fr-tabs__tab" tabindex="-1" role="tab" aria-selected="false" aria-controls="tabpanel-406-panel">Synthèse
          par catégorie
        </button>
      </li>
      <li role="presentation">
        <button id="tabpanel-407" class="fr-tabs__tab" tabindex="-1" role="tab" aria-selected="false" aria-controls="tabpanel-407-panel">Synthèse
          temporelle
        </button>
      </li>
    </ul>


    <div id="tabpanel-404-panel" class="fr-tabs__panel fr-tabs__panel--selected" role="tabpanel" aria-labelledby="tabpanel-404" tabindex="0">
      <div class="fr-grid-row fr-grid-row--gutters">

        <div class="fr-col-12 fr-col-lg-6">
          <div data-highcharts-target="canvasSyntheseProgramme"></div>
        </div>
        <div class="fr-col-12 fr-col-lg-6">
          <div data-highcharts-target="canvasMouvementsProgramme"></div>
        </div>

        <div class="fr-col-12 fr-col-lg-12">
          <div class="fr-download">
            <p>
              <%= link_to synthese_programmes_path(annee: @annee_a_afficher, format: :xlsx), class: "fr-download__link" do %> Télécharger la table de
                synthèse par programme
                <span class="fr-download__detail">
					                Format .xlsx
					            </span>
              <% end %>
            </p>
          </div>
          <div class="fr-table--md fr-table fr-table--bordered fr-table--no-caption fr-mb-3w">
            <div class="fr-table__wrapper">
              <div class="fr-table__container">
                <div class="fr-table__content">
                  <table class="fr-cell--multiline">
                    <thead>
                    <tr>
                      <th scope="col" class="fr-cell--fixed">Programme</th>
                      <th scope="col">Effectifs notifiés</th>
                      <th scope="col">ETPT notifiés</th>
                      <th scope="col">Plafond 3% ETP</th>
                      <th scope="col">ETP supprimés</th>
                      <th scope="col">% ETP supprimés</th>
                      <th scope="col">ETP ajoutés</th>
                      <th scope="col">ETPT supprimés</th>
                      <th scope="col">ETPT ajoutés</th>
                      <th scope="col">Mouvement en gestion (LFR)</th>
                      <th scope="col">Mouvement en base (PLF N+1)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="fr-table--total">
                      <th class="fr-cell--fixed">Total</th>
                      <td><%= format_number(@data_par_programme.sum { |d| d[:etp_cible] }) %></td>
                      <td><%= format_number(@data_par_programme.sum { |d| d[:etpt_plafond] }) %></td>
                      <td><%= format_number(@data_par_programme.sum { |d| d[:plafond_3] }) %></td>
                      <td><%= format_number(@data_par_programme.sum { |d| d[:etp_supp] }) %></td>
                      <td>
                        <% total_cible = @data_par_programme.sum { |d| d[:etp_cible] } %>
                        <% total_supp = @data_par_programme.sum { |d| d[:etp_supp] } %>
                        <%= total_cible > 0 ? format_number((total_supp / total_cible * 100).round(2)) : 0 %> %
                      </td>
                      <td><%= format_number(@data_par_programme.sum { |d| d[:etp_add] }) %></td>
                      <td><%= format_number(@data_par_programme.sum { |d| d[:etpt_supp] }) %></td>
                      <td><%= format_number(@data_par_programme.sum { |d| d[:etpt_add] }) %></td>
                      <td><%= format_number(@data_par_programme.sum { |d| d[:credits] }) %></td>
                      <td><%= format_number(@data_par_programme.sum { |d| d[:couts] }) %></td>
                    </tr>
                    <% @data_par_programme.each do |d| %>
                      <tr>
                        <th class="fr-cell--fixed">P<%= d[:programme].numero %></th>
                        <td><%= format_number(d[:etp_cible]) %></td>
                        <td><%= format_number(d[:etpt_plafond]) %></td>
                        <td><%= format_number(d[:plafond_3]) %></td>
                        <td><%= format_number(d[:etp_supp]) %></td>
                        <td><%= format_number(d[:pct_etp_supp]) %> %</td>
                        <td><%= format_number(d[:etp_add]) %></td>
                        <td><%= format_number(d[:etpt_supp]) %></td>
                        <td><%= format_number(d[:etpt_add]) %></td>
                        <td><%= format_number(d[:credits]) %></td>
                        <td><%= format_number(d[:couts]) %></td>
                      </tr>
                    <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <% if current_user.statut == "admin" || current_user.statut == "ministere" %>
      <div id="tabpanel-405-panel" class="fr-tabs__panel" role="tabpanel" aria-labelledby="tabpanel-405" tabindex="0">
        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-12 fr-col-lg-12">
            <div data-highcharts-target="syntheseRegion"></div>
          </div>
          <div class="fr-col-12 fr-col-lg-12">
            <div data-highcharts-target="mouvementsRegion"></div>
          </div>

          <div class="fr-col-12 fr-col-lg-12">
            <div class="fr-download">
              <p>
                <%= link_to regions_path(annee: @annee_a_afficher, format: :xlsx), class: "fr-download__link" do %>
                  Télécharger la table de synthèse par région
                  <span class="fr-download__detail">Format .xlsx</span>
                <% end %>
              </p>
            </div>
            <div class="fr-table--md fr-table fr-table--bordered fr-table--no-caption fr-mb-3w">
              <div class="fr-table__wrapper">
                <div class="fr-table__container">
                  <div class="fr-table__content">
                    <table class="fr-cell--multiline">
                      <caption></caption>
                      <thead>
                      <tr>
                        <th scope="col" class="fr-cell--fixed">Région</th>
                        <th scope="col">Effectifs notifiés</th>
                        <th scope="col">ETPT notifiés</th>
                        <th scope="col">Plafond 3% ETP</th>
                        <th scope="col">ETP supprimés</th>
                        <th scope="col">% ETP supprimés</th>
                        <th scope="col">ETP ajoutés</th>
                        <th scope="col">ETPT supprimés</th>
                        <th scope="col">ETPT ajoutés</th>
                        <th scope="col">Mouvement en gestion (LFR)</th>
                        <th scope="col">Mouvement en base (PLF N+1)</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr class="fr-table--total">
                        <th class="fr-cell--fixed">Total</th>
                        <td><%= format_number(@data_par_region.sum { |d| d[:etp_cible] }) %></td>
                        <td><%= format_number(@data_par_region.sum { |d| d[:etpt_plafond] }) %></td>
                        <td><%= format_number(@data_par_region.sum { |d| d[:plafond_3] }) %></td>
                        <td><%= format_number(@data_par_region.sum { |d| d[:etp_supp] }) %></td>
                        <td>
                          <% total_cible_r = @data_par_region.sum { |d| d[:etp_cible] } %>
                          <% total_supp_r  = @data_par_region.sum { |d| d[:etp_supp] } %>
                          <%= total_cible_r > 0 ? format_number((total_supp_r / total_cible_r * 100).round(2)) : 0 %> %
                        </td>
                        <td><%= format_number(@data_par_region.sum { |d| d[:etp_add] }) %></td>
                        <td><%= format_number(@data_par_region.sum { |d| d[:etpt_supp] }) %></td>
                        <td><%= format_number(@data_par_region.sum { |d| d[:etpt_add] }) %></td>
                        <td><%= format_number(@data_par_region.sum { |d| d[:credits] }) %></td>
                        <td><%= format_number(@data_par_region.sum { |d| d[:couts] }) %></td>
                      </tr>
                      <% @data_par_region.each do |d| %>
                        <tr>
                          <th class="fr-cell--fixed"><%= d[:nom] %></th>
                          <td><%= format_number(d[:etp_cible]) %></td>
                          <td><%= format_number(d[:etpt_plafond]) %></td>
                          <td><%= format_number(d[:plafond_3]) %></td>
                          <td><%= format_number(d[:etp_supp]) %></td>
                          <td><%= format_number(d[:pct_etp_supp]) %> %</td>
                          <td><%= format_number(d[:etp_add]) %></td>
                          <td><%= format_number(d[:etpt_supp]) %></td>
                          <td><%= format_number(d[:etpt_add]) %></td>
                          <td><%= format_number(d[:credits]) %></td>
                          <td><%= format_number(d[:couts]) %></td>
                        </tr>
                      <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <div id="tabpanel-406-panel" class="fr-tabs__panel" role="tabpanel" aria-labelledby="tabpanel-406" tabindex="0">
      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-lg-6">

          <div class="fr-table--md fr-table fr-table--bordered fr-table--no-caption fr-mb-3w">
            <div class="fr-table__wrapper">
              <div class="fr-table__container">
                <div class="fr-table__content">
                  <table class="fr-cell--multiline">
                    <thead>
                    <tr>
                      <th scope="col">Macrograde</th>
                      <th scope="col">ETP supprimés</th>
                      <th scope="col">ETP ajoutés</th>
                      <th scope="col">ETPT supprimés</th>
                      <th scope="col">ETPT ajoutés</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="fr-table--total">
                      <th>Total</th>
                      <td><%= format_number(@data_par_macrograde.sum { |d| d[:etp_supp] }) %></td>
                      <td><%= format_number(@data_par_macrograde.sum { |d| d[:etp_add] }) %></td>
                      <td><%= format_number(@data_par_macrograde.sum { |d| d[:etpt_supp] }) %></td>
                      <td><%= format_number(@data_par_macrograde.sum { |d| d[:etpt_add] }) %></td>
                    </tr>
                    <% @data_par_macrograde.each do |d| %>
                      <tr>
                        <td><%= d[:macrograde] %></td>
                        <td><%= format_number(d[:etp_supp]) %></td>
                        <td><%= format_number(d[:etp_add]) %></td>
                        <td><%= format_number(d[:etpt_supp]) %></td>
                        <td><%= format_number(d[:etpt_add]) %></td>
                      </tr>
                    <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="fr-col-12 fr-col-lg-3">
          <div>
            <div data-highcharts-target="categorieETPsuppression"></div>
          </div>
        </div>
        <div class="fr-col-12 fr-col-lg-3">
          <div>
            <div data-highcharts-target="categorieETPajout"></div>
          </div>
        </div>

      </div>
    </div>

    <div id="tabpanel-407-panel" class="fr-tabs__panel" role="tabpanel" aria-labelledby="tabpanel-407" tabindex="0">
      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12">
          <div data-highcharts-target="dateEffetEtp"></div>
          <div data-highcharts-target="creationETP"></div>
        </div>
      </div>
    </div>
  </div>
</div>
