<% content_for :title do %>Connexion - REPERE3 <% end %><div class="fr-container">    
<div class="fr-grid-row fr-grid-row--gutters" data-controller="session">
    <div class="fr-col-12 fr-col-lg-6 fr-col-offset-lg-3 fr-mb-5w">
       
      <h1 class="fr-my-5w tc">Connexion</h1>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name),data: {'session-target': "form", action: "turbo:before-fetch-request->session#submitForm turbo:submit-end->session#resultForm change->session#changeForm"}) do |f| %>


        <div class="fr-select-group">
          <label class="fr-label" for="user_statut"> Se connecter en tant que* </label>
          <%= f.select :statut , [["CBR","CBR"], ["Préfet - SGARE","prefet"],["Ministère","ministere"], ["Direction du Budget","admin"]], {:include_blank => "- Sélectionner -"}, {data: {action: 'change->session#statutChange','session-target': 'statut' }, required: true, class: "fr-select", id:'user_statut'} %>
        </div>
 
     
        <div class="fr-select-group fr-hidden" data-session-target="regionBloc">
          <label class="fr-label" for="region_f">Sur le périmètre*</label>
          <%= f.select :region_id, Region.all.pluck(:id).map {|s| [Region.find(s).nom, s]}, {:include_blank => "- Sélectionner -"}, {data: {'session-target': 'region' }, class: "fr-select region", id: 'region_f'} %>
        </div>
    
        <div class="fr-select-group fr-hidden" data-session-target="ministereBloc">
          <label class="fr-label" for="nom">Sur le ministère* </label>
          <%= f.select :nom, User.where(statut: "ministere").all.pluck(:nom).uniq.map {|s| [s, s]}, {:include_blank => "- Sélectionner -"}, {data: {'session-target': 'ministere' }, class: "fr-select ministere", id: 'nom'} %>
        </div>
    

        <div class="fr-input-group">
          <label class="fr-label" for="password">Mot de passe*</label>
          <%= f.password_field :password,data: {'session-target': 'password' },required: true, autocomplete: "current-password",class:"fr-input", id: "password" %>
        </div>

        <div class="fr-error-text fr-hidden" data-session-target="error"  role="alert"> </div>      
        <div class="tc fr-my-5w">
          <%= f.submit "Connexion", class:"fr-btn",  data: {action: 'click->session#submitForm','session-target': "submitBouton"}, aria: { label: "Valider le formulaire de connexion"} %>
        </div>
        
      <% end %>
    </div>
 
  </div>
</div>