<main role="main" class="containtAll">
  <div class="fr-container fr-mt-7w">
    <div class="fr-col-lg-10 fr-col-offset-lg-1">
      <h1>Ajouter un nouveau document</h1>
			<div>
      	<%= form_tag import_couts_path, multipart: true do %>
      	<div class="fr-upload-group">
		    <label class="fr-label" for="file-upload">Ajouter des fichiers
		        <span class="fr-hint-text">Taille maximale : 500 Mo. Formats supportés : xlsx. </span>
		    </label>
		    <%= file_field_tag  :file, accept: '.xlsx', class: "fr-upload", id: "file-upload" %>
				</div>
        <div class="fr-my-4w"><%= submit_tag "Transmettre", class:"fr-btn" %></div>
        <% end %>
    	</div>

			<div class="fr-table fr-mb-2w fr-table--no-caption">
				<table>
					<thead>
					<tr>
						<th scope="col">Programme</th>
						<th scope="col">Categorie</th>
						<th scope="col">Coût</th>
					</tr>
					</thead>
					<tbody>
					<% @couts.each do |cout| %>
					<tr>
						<td><%= cout.programme.numero %></td>
						<td><%= cout.categorie %></td>
						<td><%= cout.cout.to_i %></td>
					</tr>
					<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</main>