<header role="banner" class="fr-header">
    <div class="fr-header__body">
        <div class="fr-container">
            <div class="fr-header__body-row">
                <div class="fr-header__brand fr-enlarge-link">
                    <div class="fr-header__brand-top">
                        <div class="fr-header__logo">
                            <p class="fr-logo">
                                Ministère
                                <br>de l'économie,<br>des finances<br>et de la souveraineté<br> industrielle et numérique
                            </p>
                        </div>
                        <% if user_signed_in? %> 
                        <div class="fr-header__navbar">
                            <button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="modal-530" aria-haspopup="menu" id="button-531" title="Menu">
                                Menu
                            </button>
                        </div>
                        <% end %> 
                    </div>
                    <div class="fr-header__service">
                        <a href="/" title="Accueil - REPERE3">
                          <p class="fr-header__service-title">REPERE3</p>
                        </a>
                        <p class="fr-header__service-tagline">REdéploiement entre Programmes des Emplois en REgion - 3%</p>
                    </div>
                </div>
                <% if user_signed_in? %>
                <div class="fr-header__tools">
                    <div class="fr-header__tools-links ">
                        <ul class="fr-btns-group">                                                    
                                <li>
                                    <%= link_to "Se déconnecter", destroy_user_session_path, data: { "turbo-method": :delete }, class:"fr-btn fr-fi-logout-box-r-line" %>
                                </li>
                                  
                        </ul>
                    </div>
                </div>
                <% end %> 
            </div>
        </div>
    </div>
    <% if user_signed_in? %>
    <div class="fr-header__menu fr-modal" id="modal-530" aria-labelledby="button-531">
        <div class="fr-container">
            <button class="fr-btn--close fr-btn" aria-controls="modal-530" title="Fermer">
                Fermer
            </button>
            <div class="fr-header__menu-links"></div>
            <nav class="fr-nav" id="fr-navigation" role="navigation" aria-label="Menu principal">
                <ul class="fr-nav__list">
                    <li class="fr-nav__item">
                        <%= active_link_to root_path, class: "fr-nav__link", target: "_self", :active => [['pages'],['accueil']] do%>Accueil<%end%>
                    </li>
                    <li class="fr-nav__item">
                        <%= active_link_to historique_path, class:"fr-nav__link", target:"_self" do%>Historique des mouvements<%end%>
                    </li>
                    <% if current_user.statut == "CBR"%>
                    <li class="fr-nav__item">
                        <%= active_link_to nouveau_redeploiement_path, class:"fr-nav__link", target:"_self" do%>Créer un redéploiement<%end%>
                    </li>
                    <% end %>
                    <li class="fr-nav__item">
                        <%= active_link_to couts_etp_path, class:"fr-nav__link", target:"_self" do%>Tableau coûts ETP annuels<%end%>
                    </li>
                    
                    <li class="fr-nav__item">
                        <%= active_link_to faq_path, class:"fr-nav__link", target:"_self" do %>FAQ<%end%>
                    </li>
                    
                </ul>
            </nav>
        </div>
    </div>
    <% end %>
</header>

