<!DOCTYPE html>
<html lang="fr" data-fr-scheme="system">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <title><%= content_for?(:title) ? yield(:title) : "REPERE3" %></title>
    <meta name="theme-color" content="#000091">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "dsfr", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "utility", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'custom/dsfr.module.min', module: true %>
    <%= javascript_include_tag 'custom/dsfr.nomodule.min', nomodule: true %>
    <%= favicon_link_tag 'favicon/favicon.ico' %>
    <%= favicon_link_tag 'favicon/favicon.svg' %>
    <%= favicon_link_tag "favicon/apple-touch-icon.png", rel: "apple-touch-icon" %>

    <link rel="stylesheet" href="https://ga.jspm.io/npm:flatpickr@4.6.13/dist/flatpickr.min.css">
  </head>

  <body>
    <%= render 'layouts/header'%>
    <%= yield %>
    <%= render 'layouts/footer'%>
  </body>
</html>
